{
  "presets": [
    ["@babel/preset-env", {
      "sourceType": "module",
      "modules": "commonjs",
      "targets": {
        "chrome": "60",
        "node": "current"
      }
    }],
    "@babel/preset-react"
  ],
  "plugins": [
    "lodash"
  ]
}
