{
  "presets": [
    ["@babel/preset-env", {
      "sourceType": "module",
      "modules": "commonjs",
      "targets": {
        "chrome": "60",
        "node": "current"
      }
    }],
    "@babel/preset-react"
  ],
  "plugins": [
    "lodash",
    "transform-object-assign",
    "transform-react-constant-elements",
    "transform-react-inline-elements",
    "transform-react-jsx-compat"
  ]
}
