#content1.tab.show-content
  textarea#code.caja.toolbox-space(name='code')
    | algoritmo facilito
    | variables
    | numero, i, tabla[10]: entero
    | inicio
    |   i <- 0
    |   mostrar "Ingrese numero a multiplicar: "
    |   leer numero
    |   mientras (i < 10) hacer
    |     i <- i + 1
    |     tabla[i] <- numero * i
    |     mostrar numero, " * ", i, " = ", numero * i
    |   finmientras
    | fin
