- var index = 2
mixin tab(text, active)
  - var js = `tutorial(${index});`
  - var style = active ? 'tab-active' : 'tab'
  - style += ' tabs'
  li(id='example'+index++ class=style onclick=js) #{text}

.test.hidden-content(onclick='faded()')
.help.hidden-content
  nav#tabs
    ul
      li#example1.tab-hamburger(onclick='tutorial(1)')
        #menu.hamburger
          img(src='./icon/menu.svg', width='24')
      +tab('Editor',false)
      +tab('Consola', false)
  .box#tutorial0
    div
      h1 Toca algun elemento
  .box#tutorial1.box-hidden
    div
      h1 Menu
      p desde el podras acceder a documentacion de algorithm
  .box#tutorial2.box-hidden
    div
      h1 Editor
      p Desde el podras escribir algoritmos en un editor
  .box#tutorial3.box-hidden
    div
      h1 Consola
      p Desde ella podras ver en ejecucion su algoritmo
  button.okay(onclick='faded();localStorage.setItem("helper", "ok")') Entendido, llevame a la aplicacion
