.helper
  .container
    .title
      h1 Bienvenido
    .text
      p Este es el mejor interprete de algoritmo de toda la existencia en todas las lineas de tiempo sin exagerar
    .footer
      .left
      .circle
      .circle
      .circle
      .rigth
