.modal.hidden#ide
  .ide
    ul
      li#hamburger.tab-hamburger(onclick='hamburger_onclickout()')
        .hamburger
          img(src='./icon/menu.svg', width='24')
      li.tab-console(onclick='hamburger_onclickout()')
        .hamburger
          img(src='./icon/console.svg', width='28')
  .settings
    h1 hi hi
    p a
