.modal.hidden#ide
  .ide
    ul
      li#hamburger.tab-hamburger(onclick='hamburger_onclickout()')
        .hamburger
          img(src='./icon/menu.svg', width='24')
      // li.tab-console(onclick='hamburger_onclickout()')
      //   .hamburger
      //     img(src='./icon/console.svg', width='27')
  .docs
    h1 Como usar algorithm
    p Algorithm es un interprete de algoritmos basado en el editor de texto atom, su objetivo es imitar la funcionalidad de un entorno de desarrollo integrado basico simulando la ejecucion de el algoritmo en una consola
    h1 Partes de algorithm
    p Algorithm se compone de una barra de pestañas superior el cual posee una pestaña activa identificada en azul y otras pestañas inactivas identificadas por no resaltar, el editor posee un menu en la esquina superior izquierda el cual da acceso a la zona del modo de desarrollo integrado en el cual podras encontrar el modo consola, y la documentacion
    h1 Entorno de desarrollo integrado
    p Todo programador en su labor de hacer lineas de codigo poseen un entorno de desarrollo integrado, el cual esta compuesto de compiladores, perfiladores, despuradores, una consola, un editor, un editor de interfaces graficas y por ultimo una barra que gestiona nuestros proyectos y archivos abiertos
    h1 Barra del modo de desarrollo integrado
    p Algorithm posee una barra dentro del modo ide ubicado a la izquierda con todas las funcionalidades actuales de desarrollo integrado
    h1 Modo consola
    p Algorithm posee en su menu un icono de consola ubicado de segundo en la barra del modo de desarrollo integrado, el cual al hacer click en el, emula una consola real de un lenguaje de programacion sin interfaz de usuario grafica, de tal forma puedas llevar los algoritmos a una emulacion de consola
    h1 Algoritmo
    p Un algoritmo es una secuencia de instrucciones finita el cual de una forma ordenada indican de inicio a fin la elabracion de una actividad
    h1 Tipos de datos
    p En lenguajes de programacion con un fuerte tipado de las variables se encuentran varios tipos de datos
