script(src='./core/global.js')
script(src='./core/tabs.js')
script(src='./vendor/codemirror/lib/codemirror.js')
script(src='./vendor/codemirror/addon/hint/show-hint.js')
script(src='./vendor/codemirror/addon/hint/anyword-hint.js')
script(src='./vendor/codemirror/mode/algorithm/algorithm.es.js')
script(src='./vendor/codemirror/mode/javascript/javascript.js')
script(src='./app.js')
script(src='./core/console.js')
script(src='./core/vector.js')
script(src='./core/algorithm.js')
script(src='./core/icons.js')
script(src='./core/i18n.js')
